@import '/src/styles/mixins.scss';

.teacher-blog-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;

    .teacher-blog-title-w {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        border-bottom: 1px solid grey;
        gap: 1rem;

        .teacher-blog-t-l {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;

            h2 {}

            #preferences-btn {
                cursor: pointer;
                appearance: none;
                border: none;
                padding: 1rem 1rem;
                font-size: 20px;
                color: white;
                background-color: #59595c;
                transition: background-color 0.15s ease-in-out;

                &:hover {
                    background-color: #59595c92;
                }
            }
        }

        #search-input {
            font-size: 24px;
            padding: .5em 1em;
        }
    }

    .blog-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .blog-template-w {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .blog-title {}

            .blog-date {
                font-size: 10px;
            }

            .blog-category {}

            .blog-summary {}

            #see-more-btn {
                cursor: pointer;
                appearance: none;
                border: none;
                padding: 1rem 1rem;
                font-size: 20px;
                color: white;
                background-color: #59595c;
                transition: background-color 0.15s ease-in-out;

                &:hover {
                    background-color: #59595c92;
                }
            }
        }
    }
}