:root{
    --primary: #412412;
    --secondary:  ;
    --tertiary: ;
    --quaternary: ;
    --quinary: ;
    --senary: ;
    --octonary: ;
    --nonary: ;
    --denary: ;
    
    --color: ;
    --bgColor: ;
    --textColor: ;
    --primaryColor: ;
    --secondaryColor: ;
    --accentColor: ;
}