@import "/src/styles/mixins.scss";

.home {
  display: flex;
  flex-direction: column;
  height: auto;

  .home__intro-section {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/assets/backgrounds/books-6.webp");

    .home__section-bg {
      position: absolute;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      opacity: 0.95;
      background-color: var(--secondary);

      .home__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;
        color: var(--white);
        gap: 10px;

        @include sm-down {
          width: 95%;
        }

        h1 {
          font-size: 48px;
          font-weight: bolder;
          position: relative;

          @include sm-down {
            text-align: center;
            font-size: 42px;
          }
        }

        .content__border {
          position: relative;
          width: 100%;
          height: 2px;
          background-color: var(--white);
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--white);
            left: 0;
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--white);
            right: 0;
            transform: translate(50%, -50%) rotate(45deg);
          }
        }

        .content__quote {
          font-size: 48px;
          font-weight: 100;
          position: relative;

          @include sm-down {
            font-size: 42px;
          }
        }

        .content__arrows {
          position: absolute;
          display: flex;
          font-size: 72px;
          color: var(--primary);
          justify-content: space-between;
          width: 100%;
          opacity: 0.8;

          @include sm-down {
            position: relative;
          }

          .arrow__btn {
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }

            &:nth-child(1) {
              margin-left: 80px;
            }

            &:nth-child(2) {
              margin-right: 80px;
            }
          }
        }
      }
    }
  }

  .home__about-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    color: var(--secondary);
    background-color: var(--tertiary);
    background-image: url("/assets/logos/logo-3-nobg.png");
    background-repeat: no-repeat;
    background-position: 275% 50%;
    background-origin: border-box;
    background-size: contain;

    @include sm-down {
      background-position: 5% -5%;
      background-size: contain;
    }

    .about {
      display: flex;
      flex-direction: column;
      margin-left: 160px;
      z-index: 1;
      width: 565px;

      @include sm-down {
        margin-left: 80px;
      }

      @include xs {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
      }

      .about__title {
        font-size: 64px;
      }

      .about__info {
        font-size: 18px;

        @include sm-down {
          font-size: 14px;
          width: 95%;
        }
      }

      .about__badges {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-top: 20px;
        width: 100%;

        .badge {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 125px;

          .badge__icon {
            font-size: 48px;
          }

          h2 {
            text-align: center;
          }
        }
      }
    }

    .home__marquee {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 75px;
      display: flex;
      align-items: center;
      transform: translateY(50%);
      z-index: 2;
      background-color: var(--octonary);
    }
  }

  .home__news-section {
    position: relative;
    height: 100vh;
    background-color: var(--secondary);
    z-index: 1;

    @include md-down {
      height: auto;
    }

    .news {
      .news__title {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 64px;
          font-weight: 900;
          color: var(--primary);
        }

        p {
          font-size: 18px;
          color: var(--white);
        }
      }
    }

    .news__cards {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      gap: 20px;

      .cards__content {
        cursor: pointer;
        position: relative;
        width: 500px;
        height: 550px;
        background-color: var(--octonary);
        border-radius: 20px;
        color: var(--white);
        transition: all 0.15s ease-in-out;

        .content__header {
          position: absolute;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          justify-content: center;
          top: 0;
          height: 120px;
          width: 100%;
          background-color: var(--primary);
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;

          h2 {
            width: 300px;
            text-align: center;
            font-size: 32px;
            font-weight: 900;
          }
        }
        .content__view-all-btn {
          position: absolute;
          bottom: 0;
          border: none;
          border-radius: 5px;
          padding: 10px 25px;
          right: 50%;
          margin-bottom: 40px;
          transform: translateX(50%);
          background-color: var(--primary);
          transition: all 0.15s ease-in-out;

          &:hover {
            background-color: var(--primary-hover);
          }
        }
      }
    }
    .home__event-modal {
      display: flex;
      width: 650px;
      height: 400px;
      bottom: 0;
      margin-left: 240px;
      transform: translateY(50%);
      background-color: var(--nonary);
      box-shadow: 0 0 4px var(--black);
      position: absolute;
      opacity: 0.9;

      @include md-down {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        width: 550px;
        margin-left: 80px;
        transform: translateX(0);
      }

      @include xs {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        margin-left: 20px;
        width: 350px;
        transform: translateX(0);
      }

      .event__header {
        font-weight: 300;
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 170px;
        height: 100%;
        background-color: var(--senary);

        @include xs {
          min-width: 80px;
        }

        :nth-child(2) {
          font-weight: 900;
        }
      }

      .event__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        color: var(--white);

        span {
          display: flex;
          align-items: center;
          gap: 40px;
          width: 400px;

          @include xs {
            width: 250px;
          }
        }
      }
    }
  }

  .home__contact-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: var(--tertiary);
    background-image: url("/assets/logos/logo-3-nobg.png");
    background-repeat: no-repeat;
    background-position: left -175% bottom 0;
    background-size: contain;

    @include xs {
      margin-top: 20px;
      align-items: flex-start;
      justify-content: center;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--octonary);
      border-radius: 10px;
      height: 750px;
      width: 700px;
      margin-right: 120px;
      z-index: 1;

      @include xs {
        position: relative;
        margin-right: 0px;
        width: 375px;
        transform: translateX(0);
      }

      h1 {
        font-size: 64px;
        font-weight: 900;
        color: var(--primary);

        @include xs {
          width: 350px;
        }
      }

      p {
        width: 550px;
        font-size: 18px;
        color: var(--white);

        @include xs {
          width: 350px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 550px;
          height: 50px;
          border: none;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;

          @include xs {
            width: 350px;
          }
        }

        textarea {
          width: 550px;
          height: 150px;
          border: none;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;

          @include xs {
            width: 350px;
          }
        }

        button {
          width: 550px;
          height: 50px;
          border: none;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          background-color: var(--primary);
          color: var(--white);
          font-size: 18px;
          font-weight: 900;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          @include xs {
            width: 350px;
          }

          &:hover {
            background-color: var(--secondary);
          }
        }
      }
    }
  }
}
