@import "/src/styles/mixins.scss";

.profile-sidebar {
  overflow: hidden;
  color: white;
  background-color: var(--senary);
  position: fixed;
  z-index: 5;
  max-width: 25px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.15s ease-in-out;

  .profile-sidebar::after {
    display: block;
    content: "";
    position: absolute;
    background-color: var(--senary);
    opacity: 0.8;
  }

  .profile-sidebar__drag {
    cursor: pointer;
    position: absolute;
    min-height: 100vh;
    right: 0;
    width: 25px;
    background-color: #3e4e68;
    opacity: 0.6;

    .profile-sidebar__drag-btn {
      position: absolute;
      background-color: var(--senary);
      bottom: 50%;
      right: 0;
      appearance: none;
      border: none;
      cursor: pointer;
      padding: 10px;
      color: white;
    }
  }

  .profile-sidebar__friends {
    .profile-sidebar__title {
      text-align: center;
      margin: 1rem;
    }

    .profile-sidebar__search {
      display: flex;
      justify-content: center;
      gap: 10px;

      .profile-sidebar__search-input {
      }

      .profile-sidebar__search-btn {
        cursor: pointer;
        appearance: none;
        border: none;
        background-color: var(--primary);
        color: white;
        padding: 10px 15px;
        transition: all 0.15s ease-in-out;

        &:hover {
          background-color: var(--primary-hover);
        }
      }
    }

    .profile-sidebar__list {
      margin: 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h4 {
        opacity: 0.8;
      }

      .profile-sidebar__item {
        .profile-sidebar__link {
          display: flex;
          gap: 10px;
          .profile-sidebar__photo {
            width: 35px;
            height: 35px;
            background-color: white;
            object-fit: cover;
            border-radius: 50%;
            padding: 1px;
          }
          .profile-sidebar__name {
            .profile-sidebar__options-add,
            .profile-sidebar__options-decline,
            .profile-sidebar__options-btn,
            .profile-sidebar__options-chat,
            .profile-sidebar__options-block {
              cursor: pointer;
              appearance: none;
              border: none;
              background-color: var(--primary);
              color: white;
              padding: 2px 10px;
              font-weight: 900;
              transition: all 0.15s ease-in-out;
              &:hover {
                background-color: var(--primary-hover);
              }
            }

            .profile-sidebar__options-decline{
              background-color: var(--matteRed);
              &:hover {
                background-color: var(--matteRed-hover);
              }
            }

            .profile-sidebar__options-chat{
              background-color: var(--secondary);
              &:hover {
                background-color: var(--secondary-hover);
              }
            }

            .profile-sidebar__options-block{
              background-color: #E26313;
              &:hover {
                background-color: #E27429;
              }
            }
          }
        }
      }
    }
  }

  .profile-sidebar__find-friends {
    height: auto;
    padding: 10px 25px;

    h2 {
      width: fit-content;
      padding: 10px 15px;
      border-top: 1px solid var(--matteGrey);
    }

    .find-friends__modal-list {
      .find-friends__item {
        width: fit-content;
        border-bottom: 1px solid var(--matteGrey);
        padding: 10px;
        font-size: 12px;
        .find-friends__add-btn {
          cursor: pointer;
          appearance: none;
          border: none;
          background-color: var(--primary);
          color: white;
          padding: 2px 10px;
          font-weight: 900;
          transition: all 0.15s ease-in-out;
          &:hover {
            background-color: var(--primary-hover);
          }
        }
      }
    }
  }
}

.profile-sidebar.open {
  max-width: 375px;
}
