@import "/src/styles/mixins.scss";

.header {
  position: absolute;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  height: 75px;
  color: white;

  @include sm-down {
    position: relative;
    height: auto;
    background-color: var(--secondary);
    flex-direction: column;
  }

  @include md-down {
    position: relative;
    height: auto;
    background-color: var(--secondary);
    flex-direction: column;
  }

  @include lg-down {
    justify-content: center;
  }

  .header__title-section {
    display: flex;
    align-items: center;

    .header__logo {
      margin-left: 80px;
      object-fit: cover;

      @include sm-down {
        margin-left: unset;
      }

      @include md-down {
        margin-left: unset;
      }
    }

    .header__title {
      font-weight: 900;
      transform: translateX(-10%);
      letter-spacing: -1px;
      font-size: 32px;
      transition: all 0.15s ease-in-out;

      &:hover {
        color: var(--primary);
      }
      @include sm-down {
        font-size: 22px;
      }
    }
  }

  .header__toggle-btn {
    cursor: pointer;
    display: none;
    font-size: 32px;
    transition: all 0.15s ease-in-out;

    @include sm-down {
      display: flex;
      margin-right: unset;
      margin-bottom: 15px;
    }

    &:hover {
      color: var(--primary);
    }
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin-right: 80px;
    gap: 10px;
    font-weight: 400;
    transition: max-height 0.5s ease-in-out;

    @include sm-down {
      display: flex;
      margin-right: unset;
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      width: 100%;
      background-color: var(--secondary);
      border-bottom: 1px solid var(--tertiary);
    }

    @include md-down {
      margin-right: unset;
      margin-bottom: 5px;
    }

    &.open {
      max-height: 450px;
    }

    .nav__item {
      position: relative;
      transition: all 0.15s ease-in-out;

      &:hover {
        color: var(--primary);
      }

      &.admin-btn,
      &.profile-btn,
      &.login-btn {
        background-color: var(--primary);
        color: var(--white);
        font-size: 18px;
        font-weight: 900;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--primary-hover);
        }
      }

      &.logout-btn {
        button {
          background-color: var(--matteRed);
          color: var(--white);
          font-size: 18px;
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: var(--matteRed-hover);
        }
      }

      @include sm-down {
        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}
