@import "@/styles/mixins.scss";

.services {
  .intro__section {
    .section__bg {
      .section__content {
        display: flex;
        flex-flow: row wrap;
        .content__logo {
          @include xs {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  .services__cards {
    height: 100vh;
    background-color: #c7c7c7;

    @include md-down {
      height: auto;
    }

    .services__cards-group {
      padding-top: 35px;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      gap: 25px;

      .services__card {
        width: 485px;
        @include xs {
          width: 100%;
        }
        .card__header {
          height: 575px;
          width: 485px;
          background-color: #d9d9d9;
          @include xs {
            width: 100%;
          }

          h1 {
            padding: 15px;
            font-size: 64px;
            font-weight: bolder;
            position: relative;
            color: var(--secondary);
            @include xs {
              font-size: 50px;
            }
          }
        }

        .card__desc {
          font-size: 14px;
        }
      }
    }

    .about__badges {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      gap: 50px;
      color: var(--secondary);

      .badge {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .badge__icon {
          font-size: 64px;
        }

        h2 {
          width: 125px;
          font-size: 20px;
          text-align: center;
          font-weight: bolder;
        }
      }
    }
  }

  .services__contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: var(--matteGrey);

    @include sm-down {
      flex-direction: column;
      height: auto;
    }

    .contact__logo {
      position: absolute;
      left: 0;
      transform: translateX(-50%);
      opacity: 0.5;

      @include xs {
        margin-top: 40px;
      }

      @include sm-down {
        position: relative;
        margin-bottom: 20px;
        height: auto;
        width: 100%;
        opacity: 0.8;
        object-fit: contain;
        transform: translateX(0);
      }
    }
  }
}
