// mixins.scss is used to easily manage media queries.
@import "@/styles/mixins.scss";

//  Using BEM as a class naming convention (Block, Element, Modifier)
.footer {
  // min-height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--senary);

  @include sm-down {
    min-height: auto;
  }

  .footer__top {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    @include sm-down {
      gap: 25px;
      width: 375px;
    }

    .footer__about {
      display: flex;
      flex-direction: column;
      width: 350px;

      .footer__logo-wrapper {
        display: flex;
        align-items: center;

        .footer__company-logo {
        }

        .footer__company-name {
          color: white;
          transition: all 0.15s ease-in-out;
          text-decoration: underline;
          text-decoration-color: transparent;

          &:hover {
            color: var(--primary);
            text-decoration-color: var(--primary);
          }
        }
      }

      .footer__slogan {
        color: var(--white);
        font-weight: 300;
      }

      .footer__policy-links {
        display: flex;
        justify-content: space-between;
        color: white;

        .footer__links-entry {
          transition: all 0.15s ease-in-out;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    .footer__nav {
      display: flex;
      flex-direction: column;

      .footer__nav-title {
        color: var(--white);
        font-weight: 900;
      }

      .features__item {
        font-weight: 300;
        color: var(--white);
        transition: all 0.15s ease-in-out;

        &:hover {
          color: var(--primary);
        }
      }
    }

    .footer__socials {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 152px;

      @include sm-down {
        gap: 25px;
      }

      .footer__contact {
        .footer__contact-title {
          font-weight: 500;
          color: var(--white);
        }

        .footer__icon-wrapper {
          display: flex;
          gap: 10px;

          .socials__btn {
            cursor: pointer;
            color: var(--primary);
            font-size: 24px;
            transition: all 0.15s ease-in-out;

            &:hover {
              color: var(--primary-hover);
            }
          }
        }
      }

      .footer__newsletter {
        display: flex;
        align-items: center;
        gap: 10px;

        #footer__newsletter-input {
          height: 50px;
          width: 180px;
          padding: 14px;
        }

        .footer__newsletter-button {
          background-color: var(--primary);
          height: 50px;
          width: 100px;
          border: none;
          appearance: none;
          cursor: pointer;
          transition: all 0.15s ease-in-out;

          &:hover {
            background-color: var(--primary-hover);
          }
        }
      }
    }
  }

  .footer__bottom {
    display: flex;
    margin-bottom: 20px;

    .footer__copyright {
      border-top: 1px solid var(--white);
      padding-top: 10px;
      color: var(--white);
    }
  }
}
